[Unit]
Description=Rclone invocator
After=network-online.target

[Service]
Type=oneshot

User=root
Group=root
UMask=007

ExecStart=rclone move --min-age=1h /root/data/ spaces:btcfeed/data

WorkingDirectory=/root

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
