[Unit]
Description=Bitcoin Trader
After=network-online.target

[Service]
Type=simple

User=root
Group=root
UMask=007

ExecStart=/root/feeder -c $FEEDER_CONF

WatchdogSec=172800
Restart=always

WorkingDirectory=/root

Environment=SSL_CERT_DIR=/etc/ssl/certs/
Environment=FEEDER_CONF=/root/config/feeder_prod.yaml
Environment=RUST_BACKTRACE=1
Environment=RUST_LOG=info

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
