[package]
name = "strategies"
version = "0.1.0"
authors = ["Guillaume Balaine <igosuki@gmail.com>"]
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "strategies"
path = "src/lib.rs"


[features]
zstd = ["awc/compress-zstd"]
python = ["pyo3", "pyo3-log"]
backtests = ["util/mock_time"]
live_e2e_tests = []
manual_e2e_tests = []

[dependencies]
# trader
db = { path = "../db" }
ext = { path = "../ext" }
util = { path = "../util" }
metrics = { path = "../metrics" }
#coinnect_rt = { git = " ssh://git@github.com/Igosuki/coinnect_rt.git" }
coinnect_rt = { path = "../coinnect" }
stats = { path = "../stats" }
trading = { path = "../trading" }
account = { path = "../portfolio" }

# actor
actix = "0.12"
actix_derive = "0.6"

# io
csv = "1.1"

# std
derivative = "2.2"
derive_more = "0.99"
env_logger = "0.9"
itertools = "0.10"
anyhow = "1.0"
chrono = { version = "0.4", features = ["serde"] }
uuid = { version = "0.8", features = ["v4"] }
backoff = "0.3"
lazy_static = "1.4"
ordered-float = "2.1"
parse_duration = "2.1"
strum = "0.21"
strum_macros = "0.21"
thiserror = "1.0"

# async
futures = { version = "0.3", features = ["async-await", "alloc"] }
async-trait = "0.1"
tokio = { version = "1", features = ["full"] }

# graph_ql
juniper = { version = "0.15", features = ["expose-test-schema"] }

# metrics and tracing
opentelemetry = { version = "0.15", default-features = false, features = ["trace"] }
opentelemetry-jaeger = "0.14"
tracing = { version = "0.1", features = ["release_max_level_debug", "log"] }
tracing-futures = "0.2"

# metrics
prometheus = { version = "0.12", features = ["nightly", "push", "process", "gen"] }

# codec
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["float_roundtrip"] }
snap = "1.0"

# python
#python = { path = "../python" }
pyo3 = { version = "0.14", features = ["serde", "auto-initialize"], optional = true }
pyo3-log = { version = "0.4", optional = true }

[dev-dependencies]
# ours
backtest = { path = "../backtest" }
util = { path = "../util" }
binance-rs-async = { path = "../binance-rs" }
trading = { path = "../trading", features = ["test_util"] }

# actix
actix-codec = "0.4"
actix-http = "3.0.0-beta.12"
actix-http-test = "3.0.0-beta.6"
actix-server = "2.0.0-beta.9"
awc = { version = "3.0.0-beta.10", features = ["openssl", "compress-brotli", "compress-gzip", "cookies"], default-features = false }

# plots
hdrhistogram = "7"
plotly = { version = "0.6.0", features = ["kaleido"] }

# test
fake = { version = "2.4", features = ['chrono'] }
tempdir = "0.3"
test-env-log = "0.2"
quickcheck = "1.0"
pretty_assertions = "0.7"
insta = "1.8"

# std
bytes = "1.0"
bytestring = "1.0.0"
openssl = "0.10"
rand = "0.8"
tempfile = "3.2"
glob = "0.3"

# async
tokio-stream = "0.1"

# http
http = "0.2"
httpmock = { git = "https://github.com/Igosuki/httpmock.git" }
wiremock = "0.5"
socket2 = "0.4"
