[package]
name = "strategies"
version = "0.1.0"
authors = ["Guillaume Balaine <igosuki@gmail.com>"]
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "strategies"
path = "src/lib.rs"

[[bin]]
name = "model_loader"
path = "src/main.rs"
required-features = ["binary"]

[[bin]]
name = "om_tool"
path = "src/om_tool.rs"
required-features = ["binary"]

[features]
binary = ["clap", "structopt"]
zstd = ["awc/compress-zstd"]
python = ["pyo3", "pyo3-log"]
backtests = []
live_e2e_tests = []

[dependencies]
# trader
db = { path = "../db" }
ext = { path = "../ext" }
util = { path = "../util" }
metrics = { path = "../metrics" }

# actix
actix = "0.12"
actix_derive = "0.6"

# bin
clap = { version = "2.33", optional = true }
structopt = { version = "0.3.23", optional = true }

# Crypto
#coinnect_rt = { git = " ssh://git@github.com/Igosuki/coinnect_rt.git" }
coinnect_rt = { path = "../coinnect" }
csv = "1.1"

derivative = "2.2"
derive_more = "0.99"
env_logger = "0.9"

glob = "0.3"

# std and structs
itertools = "0.10"
convert_case = "0.4"
anyhow = "1.0"
chrono = { version = "0.4", features = ["serde"] }

uuid = { version = "0.8", features = ["v4"] }
backoff = "0.3"
lazy_static = "1.4"

# futures
futures = { version = "0.3", features = ["async-await", "alloc"] }
async-trait = "0.1"

# graph_ql
juniper = { version = "0.15", features = ["expose-test-schema"] }
log = "0.4"

# Internal
math = { path = "../math" }

# Macros
opentelemetry = { version = "0.15", default-features = false, features = ["trace"] }
opentelemetry-jaeger = "0.14"
ordered-float = "2.1"
parse_duration = "2.1"

# metrics
prometheus = { version = "0.12", features = ["nightly", "push", "process", "gen"] }

# codec
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["float_roundtrip"] }
strum = "0.21"
strum_macros = "0.21"
tempfile = "3.1"
snap = "1.0"

# Error
thiserror = "1.0"
tokio = { version = "1", features = ["full"] }
tokio-stream = "0.1"
# Tracing
tracing = "0.1"
tracing-futures = "0.2"

# python
#python = { path = "../python" }
pyo3 = { version = "0.14", features = ["serde", "auto-initialize"], optional = true }
pyo3-log = { version = "0.4", optional = true }

sqlx = { version = "0.5", features = [ "runtime-tokio-native-tls" ] }

[dev-dependencies]
# ours
backtest = { path = "../backtest" }
util = { path = "../util" }
binance-rs-async = { path = "../binance-rs" }

# actix
actix-codec = "0.4"
actix-http = "3.0.0-beta.6"
actix-http-test = "3.0.0-beta.4"
actix-server = "2.0.0-beta.5"
awc = { version = "3.0.0-beta.7", features = ["openssl", "compress-brotli", "compress-gzip", "cookies"], default-features = false }

# plots
hdrhistogram = "7"
plotlib = "0.5"
plotters = "0.3"

# test
fake = { version = "2.4", features = ['chrono'] }
tempdir = "0.3"
test-env-log = "0.2"
quickcheck = "1.0"
pretty_assertions = "0.7"

# std
bytes = "1.0"
bytestring = "1.0.0"
openssl = "0.10"
rand = "0.8"

# http
http = "0.2"
httpmock = { git = "https://github.com/Igosuki/httpmock.git" }
wiremock = "0.5"
socket2 = "0.4"
