[package]
name = "strategies"
version = "0.1.0"
authors = ["Guillaume Balaine <igosuki@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "strategies"
path = "src/lib.rs"

[[bin]]
name = "model_loader"
path = "src/main.rs"
required-features = ["binary"]

[features]
binary = ["clap"]

[dependencies]
# actix
actix = "0.11"
actix-rt = "2.2"
actix_derive = "0.6"

futures = { version = "0.3", features = ["async-await", "alloc"] }
tokio = { version = "1.5", features = ["full"] }

# graph_ql
juniper = { version = "0.15", features = ["expose-test-schema"] }

# std
itertools = "0.10"
chrono = { version = "0.4", features = ["serde"] }
parse_duration = "2.1"
log = "0.4"
env_logger = "0.8"
uuid = { version = "0.8", features = ["v4"] }
ordered-float = "2.1"
glob = "0.3"
strum = "0.20"
strum_macros = "0.20"
async-trait = "0.1"
async-std = "1.6"
derivative = "2.1.1"

# Error
thiserror = "1.0"
anyhow = "1.0"

# codec
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["float_roundtrip"] }
derive_more = "0.99"
csv = "1.1"

# Crypto
#coinnect_rt = { git = " ssh://git@github.com/Igosuki/coinnect_rt.git" }
coinnect_rt = { path = "../coinnect" }

# metrics
prometheus = { version = "0.12", features = ["nightly", "push", "process", "gen"] }

# Internal
math = { path = "../math" }
db = { path = "../db" }
util = { path = "../util" }

# bin
clap = { version = "2.33", optional = true }
tempfile = "3.1"

# Macros
measure_time = "0.6"

# Tracing
tracing = "0.1"
tracing-futures = "0.2"
tracing-log = { version = "0.1", features = ["env_logger"] }
tracing-timing = "0.5"
tracing-opentelemetry = "0.13"
tracing-flame = "0.1"
tracing-subscriber = { version = "0.2", features = ["tracing-log", "env-filter"] }
opentelemetry = { version = "0.14", default-features = false, features = ["trace"] }
opentelemetry-jaeger = "0.13"

[dev-dependencies]
util = { path = "../util" }
plotlib = "0.5"
plotters = "0.3"
tempdir = "0.3"
quickcheck = "1.0"
httpmock = "0.5"
# actix
awc = "3.0.0-beta.5"
actix-http-test = "3.0.0-beta.4"
actix-http = "3.0.0-beta.6"
actix-connect = "2.0"
http = "0.2"
actix-server = "2.0.0-beta.5"
actix-codec = "0.4"
bytes = "1.0"
bytestring = "1.0.0"
openssl = "0.10"
socket2 = "0.4"
matches = "0.1"
fake = { version = "2.4", features=['chrono'] }
rand = "0.8"
pretty_assertions = "0.7"
test-env-log = "0.2"
hdrhistogram = "7"
lazy_static = "1.4"
