# ide
.idea
*.iml

# trash files
.DS_Store

strategy/default

# ci stuff
target
build/cargo-git
build/cargo-target
build/cargo-registry/*
build/binaries/
test_results
.cargo
.cargo_debug
precommit_venv

# local config
keys_real.json
margin_keys_real.json
local.yaml
config/local.yaml

# data
data
graphs
prometheus_data

database*
.local_data

# profiling
*.heap
flame-graph.html

# submodule
#binance-rs

# python
__pycache__
*.cpython*

#profiling
flamegraph.svg
perf.data
perf.data.old
