# ide
.idea
*.iml

# trash files
.DS_Store

strategies/default

# ci stuff
target
build/cargo-git
build/cargo-target
build/cargo-registry/*
test_results
.cargo
precommit_venv

# local config
keys_real.json
local.yaml
config/local.yaml

# data
data
graphs
prometheus_data

database*
.local_data

# profiling
*.heap
flame-graph.html

# submodule
binance-rs
