[workspace]

members = [
    "binance-rs",
    "coinnect",
    "db",
    "math",
    "models",
    "portfolio"
,
    "server",
    "strategies",
    "util"]

[patch.crates-io]
pathfinder_simd = { git = "https://github.com/servo/pathfinder", version = "0.5.1" }
