[package]
name = "trader"
version = "0.1.0"
authors = ["Guillaume Balaine <igosuki@gmail.com>"]
edition = "2018"

build = "build.rs"

[dependencies]

bytes = "0.5.3"
lazy_static = "1.4.0"

serde_json = "1.0.0"
serde = "1.0.104"
bidir-map = "1.0.0"
data-encoding = "2.0.0-rc.1"

error-chain = "0.12.1"
sha2 = "0.6.0"
hmac = "0.4.2"
bigdecimal = { version = "0.0.14", features = ["serde"] }
chrono = "0.4.0"
url = "2.1.0"
log = "0.4.8"

futures = { version ="0.3.1", features = ["thread-pool"] }
futures-util = "0.3.1"

awc = "1.0.1"
actix-web = { version ="2.0.0", features = ["openssl"] }
actix-rt = "1.0.0"
actix_derive = "0.5.0"
actix = "0.9.0"
actix-codec = "0.2.0"

tokio = { version = "0.2.6", features = ["full"] }
openssl = "0.10.26"

coinnect = { path = "./coinnect" }
avro-rs = { git = "ssh://git@github.com/Igosuki/avro-rs.git" }

uuid = { version = "0.8.1", features = ["v4"] }

derive_more = "0.99.2"

[build-dependencies]
rsgen-avro = { git = "ssh://git@github.com/Igosuki/rsgen-avro.git" }
