cargo-features = ["named-profiles"]

[workspace]

members = [
    "binance-rs",
    "coinnect",
    "db",
    "ext",
    "math",
    "models",
    "account",
    "metrics",
    "server",
    "strategies",
    "util",
    "backtest"
]

exclude = [
    "python_dylib"
]

[profile.test]
debug = false
opt-level = 3

[profile.dev]
debug = true

[profile.release]
opt-level = 3
debug = false
lto = "thin"

[profile.release-fat]
inherits = "release"
lto = "fat"

[profile.release-debug]
inherits = "release"
debug = true
lto = false

[patch.crates-io]
pathfinder_simd = { git = "https://github.com/servo/pathfinder", version = "0.5.1" }
