[package]
name = "trader"
version = "0.1.0"
authors = ["Guillaume Balaine <igosuki@gmail.com>"]
edition = "2018"

build = "build.rs"

[dependencies]

# Rust lang extensions
lazy_static = "1.4.0"
once_cell = "1.2.0"
notify = "4.0.15"

# CLI
clap = "2.33.0"
structopt = "0.3.8"

# Codecs
serde_json = "1.0.0"
serde = "1.0.104"
serde_derive = "1.0.104"
derive_more = "0.99.2"
data-encoding = "2.0.0-rc.1"
bytes = "0.5.3"
avro-rs = { git = "https://github.com/Igosuki/avro-rs.git" }

# Data structures
bidir-map = "1.0.0"

# Std Utils
chrono = { version = "0.4.10", features = ["serde"] }
url = "2.1.0"
uuid = { version = "0.8.1", features = ["v4"] }
byte-unit = "3.0.3"
bigdecimal = { version = "0.0.14", features = ["serde"] }
error-chain = "0.12.1"
config = { version = "0.9", features = ["yaml"] }
rand = "0.7.3"

# SSL
sha2 = "0.6.0"
hmac = "0.4.2"
openssl = "0.10.26"
native-tls = "0.2.3"

# Logging
log = "0.4.8"
env_logger = "0.7.1"

# Futures
futures = { version ="0.3.1", features = ["thread-pool"] }
futures-util = "0.3.1"
tokio = { version = "0.2.9", features = ["full"] }
async-std = "1.5.0"

# Actix
awc = "1.0.1"
actix-web = { version ="2.0.0", features = ["openssl"] }
actix-rt = "1.0.0"
actix_derive = "0.5.0"
actix = "0.9.0"
actix-codec = "0.2.0"

# Crypto
coinnect_rt = { path = "./coinnect" }

# Flame
flame = { version = "0.2.2", optional = true }
flamer = { version = "0.3", optional = true }

tempdir = "0.3.7"
fs_extra = "1.1.0"

[features]
default = []
flame_it = ["flame", "flamer"]

[build-dependencies]

# Codecs
rsgen-avro = { git = "https://github.com/Igosuki/rsgen-avro.git" }
crc32fast = "1.2.0"
serde_json = "1.0.0"
