[workspace]

members = [
    "server",
    "coinnect",
    "binance-rs",
    "math",
    "db",
    "strategies",
    "util",
    "models",
    "portfolio"
]

[patch.crates-io]
pathfinder_simd = { git="https://github.com/servo/pathfinder", version = "0.5.1" }
