cargo-features = ["named-profiles"]

[workspace]

members = [
    "coinnect",
    "coinnect_test_util",
    "db",
    "ext",
    "stats",
    "logging",
    "portfolio",
    "metrics",
    "server",
    "strategy",
    "strategy_python",
    "strategies",
    "util",
    "backtest",
    "trading",
]

exclude = [
    "python_dylib"
]

[profile.test]
debug = true
opt-level = 0

[profile.dev]
opt-level = 0
debug = true
#lto = "thin"

[profile.release]
opt-level = 3
debug = false
lto = "thin"

[profile.release-fat]
inherits = "release"
lto = "fat"

[profile.release-debug]
inherits = "release"
debug = true
lto = false

[patch.crates-io]
plotly = { git = "https://github.com/igiagkiozis/plotly", branch = "master" }
actix-cors = { git = "https://github.com/actix/actix-extras", branch = "master" }
pyo3 = { git = "https://github.com/PyO3/pyo3", rev = "8a989eeb6aeb862c0c518d994ef6e5f967f0dc46", version = "^0.15" }
pythonize = { git = "https://github.com/Igosuki/pythonize", rev = "d5309ca6491cdfb9e356d38b244e20b29a206bbc", version = "^0.15" }
