cargo-features = ["named-profiles"]

[workspace]

members = [
    "binance-rs",
    "coinnect",
    "db",
    "ext",
    "stats",
    "models",
    "account",
    "metrics",
    "server",
    "strategies",
    "util",
    "backtest"
]

exclude = [
    "python_dylib",
    "python"
]

[profile.test]
debug = true
opt-level = 0

[profile.dev]
opt-level = 0
debug = true
#lto = "thin"

[profile.release]
opt-level = 3
debug = false
lto = "thin"

[profile.release-fat]
inherits = "release"
lto = "fat"

[profile.release-debug]
inherits = "release"
debug = true
lto = false

