[workspace]

members = [
    "binance-rs",
    "coinnect",
    "db",
    "ext",
    "math",
    "models",
    "portfolio",
    "metrics",
    "server",
    "strategies",
    "util"
]

[patch.crates-io]
pathfinder_simd = { git = "https://github.com/servo/pathfinder", version = "0.5.1" }
