[spaces]
type = s3
env_auth = false
access_key_id = 
secret_access_key = 
endpoint = nyc3.digitaloceanspaces.com
acl = private

[cointrader]
type = s3
env_auth = false
access_key_id = 
secret_access_key = 
endpoint = s3.us-east-1.amazonaws.com
acl = private

[coindata]
type = s3
env_auth = false
access_key_id = 
secret_access_key = 
endpoint = 
acl = private

[coindata2]
type = s3
env_auth = false
access_key_id = 
secret_access_key = 
endpoint = 
acl = private
