[spaces]
type = s3
env_auth = false
access_key_id = OABGSRCCOXYMBGJRDXCZ
secret_access_key = tslzpv67KNx2oYVCvH6gEc7Ow2PVBeDrdc0BDGkTbO0
endpoint = nyc3.digitaloceanspaces.com
acl = private

[cointrader]
type = s3
env_auth = false
access_key_id = AKIA3J3K4Y3Y3GELHNKP
secret_access_key = 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
endpoint = s3.us-east-1.amazonaws.com
acl = private

