---
- hosts: btc3
  name: Install the trading system
  remote_user: root
  tasks:
    # Trader
    - name: install trader systemd unit file
      template: src=system.d/trader.service.j2 dest=/etc/systemd/system/trader.service
    # Feeder
    - name: install feeder systemd unit file
      template: src=system.d/feeder.service.j2 dest=/etc/systemd/system/feeder.service

    # Rclone
    - name: Install rclone
      shell: curl https://rclone.org/install.sh | sudo bash
      args:
        chdir: /root/
        creates: '/usr/bin/rclone'
    - name: Creates rclone conf directory
      file:
        path: /root/.config
        state: directory
    - name: install cloner systemd timer file
      template: src=rclone/rclone.conf.j2 dest=/root/.config/rclone.conf
    - name: install cloner systemd unit file
      template: src=system.d/cloner.service.j2 dest=/etc/systemd/system/cloner.service
    - name: install cloner systemd timer file
      template: src=system.d/cloner.timer.j2 dest=/etc/systemd/system/cloner.timer
    - name: install node exporter ext systemd service file
      template: src=node_exporter_ext/du.service.j2 dest=/etc/systemd/system/node_exporter_ext_du.service
    - name: install node exporter ext systemd timer file
      template: src=node_exporter_ext/ext.timer.j2 dest=/etc/systemd/system/node_exporter_ext.timer

  post_tasks:
    - name: enable node exporter extension
      systemd: enabled=yes name=node_exporter_ext_du.service
    - name: start node exporter extension timer
      systemd: state=started name=node_exporter_ext.timer


  roles:
    - cloudalchemy.node-exporter
    - cloudalchemy.pushgateway
