---
- hosts: btc2
  name: Install the trading system
  remote_user: root
  tasks:
    # Trader
    - name: install trader systemd unit file
      template: src=system.d/trader.service.j2 dest=/etc/systemd/system/trader.service

    # Rclone
    - name: Install rclone
      shell: curl https://rclone.org/install.sh | sudo bash
      args:
        chdir: /root/
        creates: '/usr/bin/rclone'
    - name: Creates rclone conf directory
      file:
        path: /root/.config
        state: directory
    - name: install cloner systemd timer file
      template: src=rclone/rclone.conf.j2 dest=/root/.config/rclone.conf
    - name: install cloner systemd unit file
      template: src=system.d/cloner.service.j2 dest=/etc/systemd/system/cloner.service
    - name: install cloner systemd timer file
      template: src=system.d/cloner.timer.j2 dest=/etc/systemd/system/cloner.timer

  roles:
    - cloudalchemy.node-exporter
    - cloudalchemy.pushgateway
