---
- hosts: trader
  name: Install the trading system
  remote_user: root
  pre_tasks:
    - name: Configuration
      copy:
        src: ./trader_conf/
        dest: /root/config
        owner: root
        group: root
        mode: '0644'
    - name: Trader Binary
      copy:
        src: ../../../cargo-target/x86_64-unknown-linux-gnu/release/trader
        dest: /root/trader.staged
        owner: root
        group: root
        mode: '+x'
    - name: Trader Conf
      copy:
        src: ./trader_conf/prod.yaml
        dest: /root/config/prod.yaml
        owner: root
        group: root
        mode: '+x'
  tasks:
    - name: backup trader
      shell: cp trader "trader.bak.$(date +%F)"
      args:
        chdir: /root/
      ignore_errors: yes
    - name: restart trader
      shell: systemctl stop trader && cp trader.staged trader && systemctl start trader
      args:
        chdir: /root/
