---
- hosts: trader
  name: Install the trading system
  remote_user: root
  pre_tasks:
    - name: Trader Binary
      copy:
        src: ../../../build/cargo-target/x86_64-unknown-linux-gnu/release/trader
        dest: /root/trader_margin.staged
        owner: root
        group: root
        mode: '+x'
    - name: Trader margin Conf
      copy:
        src: ./trader_conf/prod_margin.yaml
        dest: /root/config/prod_margin.yaml
        owner: root
        group: root
        mode: '+x'
  tasks:
    - name: backup trader
      shell: cp trader_margin "trader_margin.bak.$(date +%F)"
      args:
        chdir: /root/
      ignore_errors: yes
    - name: restart trader_margin
      shell: systemctl stop trader_margin && cp trader_margin.staged trader_margin && systemctl start trader_margin
      args:
        chdir: /root/
