---
- hosts: btc2
  name: Install the trading system
  remote_user: root
  pre_tasks:
    - name: Configuration
      copy:
        src: ./trader_conf/
        dest: /root/config
        owner: root
        group: root
        mode: '0644'
    - name: Trader Binary
      copy:
        src: ../../../cargo-target/x86_64-unknown-linux-musl/release/trader
        dest: /root/trader.staged
        owner: root
        group: root
        mode: '+x'
    - name: Model Loader binary
      copy:
        src: ../../../cargo-target/x86_64-unknown-linux-musl/release/model_loader
        dest: /root/model_loader
        owner: root
        group: root
        mode: '+x'
  tasks:
    - name: backup trader
      shell: cp trader trader.bak.$(date)
      args:
        chdir: /root/
      ignore_errors: yes
    - name: stop trader
      systemd: state=stopped name=trader
    - name: enable the new trader
      shell: cp trader.staged trader
      args:
        chdir: /root/
    - name: start trader
      systemd: state=restarted name=trader.service daemon_reload=yes
    - name: start cloner service
      systemd: enabled=true name=cloner.service
    - name: start cloner timer
      systemd: state=started name=cloner.timer daemon_reload=yes
