[package]
name = "trader"
version = "0.1.0"
authors = ["Guillaume Balaine <igosuki@gmail.com>"]
edition = "2018"

[lib]
name = "trader"
path = "src/lib.rs"

[[bin]]
name = "trader"
path = "src/main.rs"

[dependencies]
actix = "0.12"
actix-codec = "0.4"
actix-cors = "0.6.0-beta.2"
actix-rt = "2.2"
actix-web = { version = "4.0.0-beta.6", features = ["openssl"] }
actix_derive = "0.6"
anyhow = "1.0"

# Futures
async-std = "1.5"
avro-rs = { git = "https://github.com/Igosuki/avro-rs.git", branch = "master_merge" }

# Actix
awc = "3.0.0-beta.5"

# Data structures
bidir-map = "1.0"
byte-unit = "4.0"
bytes = "1.0"

# Std Utils
chrono = { version = "0.4", features = ["serde"] }

# CLI
clap = "3.0.0-beta.1"

# Crypto
#coinnect_rt = { git = " ssh://git@github.com/Igosuki/coinnect_rt.git" }
coinnect_rt = { path = "../coinnect" }
config = { version = "0.11", features = ["yaml"] }
data-encoding = "2.2"
db = { path = "../db" }
derive_more = "0.99"
env_logger = "0.8"

# Profiling
flame = { version = "0.2", optional = true }
flamer = { version = "0.4", optional = true }
fs_extra = "1.1"
futures = { version = "0.3", features = ["thread-pool"] }
futures-util = "0.3"
gperftools = { version = "0.2", optional = true, features = ["heap"] }
hmac = "0.10"
itertools = "0.10"

# Juniper
juniper = { version = "0.15", features = ["expose-test-schema"] }

# Rust lang extensions
lazy_static = "1.4"
libc = "0.2"

# Logging
log = "0.4"

# Self crates
models = { path = "../models" }
native-tls = "0.2"

# Nats
nats = "0.9"
notify = "4.0"
once_cell = "1.4"
openssl = "0.10"
parse_duration = "2.1"
portfolio = { path = "../portfolio" }

# Monitoring
prometheus = { version = "0.12", features = ["nightly", "push", "process", "gen"] }
rand = "0.8"

# DB
rkv = { version = "0.17", features = ["db-int-key"] }
serde = { version = "1.0", features = ["derive"] }

# Codecs
serde_json = { version = "1.0", features = ["float_roundtrip"] }

# SSL
sha2 = "0.9"
strategies = { path = "../strategies" }
structopt = "0.3"
tempdir = "0.3"

# Error
thiserror = "1.0"
tokio = { version = "1.5", features = ["full", "time"] }
tokio-stream = "0.1.5"
url = "2.1"
util = { path = "../util" }
uuid = { version = "0.8", features = ["v4"] }

[features]
default = []
flame_it = ["flame", "flamer"]
gprof = ["gperftools"]
#desktop_vis = ["cairo-rs", "gtk"]

[dev-dependencies]
pretty_assertions = "0.7"
