[package]
name = "trader"
version = "0.1.0"
authors = ["Guillaume Balaine <igosuki@gmail.com>"]
edition = "2018"

[lib]
name = "trader"
path = "src/lib.rs"

[[bin]]
name = "trader"
path = "src/main.rs"

[dependencies]

models = { path = "../models" }
# Rust lang extensions
lazy_static = "1.4"
once_cell = "1.2"
notify = "4.0"

# CLI
clap = "2.33"
structopt = "0.3"

# Codecs
serde_json = "1.0"
serde = "1.0"
serde_derive = "1.0"
derive_more = "0.99"
data-encoding = "2.2"
bytes = "0.5"
avro-rs = { git = "https://github.com/Igosuki/avro-rs.git" }

# Data structures
bidir-map = "1.0"

# Error
thiserror = "1.0"
anyhow = "1.0"

# Std Utils
chrono = { version = "0.4", features = ["serde"] }
url = "2.1"
uuid = { version = "0.8", features = ["v4"] }
byte-unit = "3.0"
error-chain = "0.12"
config = { version = "0.9", features = ["yaml"] }
rand = "0.7"
itertools = "0.9"
fs_extra = "1.1"
parse_duration = "2.1"
tempdir = "0.3"

# SSL
sha2 = "0.6"
hmac = "0.4"
openssl = "0.10"
native-tls = "0.2"

# Logging
log = "0.4"
env_logger = "0.7"

# Futures
async-std = "1.5"
futures = { version ="0.3", features = ["thread-pool"] }
futures-util = "0.3"
tokio = { version = "0.2", features = ["full"] }

# Actix
awc = "1.0"
actix-web = { version ="2.0", features = ["openssl"] }
actix-rt = "1.0"
actix_derive = "0.5"
actix = "0.9"
actix-codec = "0.2"
actix-cors = "0.2"

# Juniper
juniper = { git = "https://github.com/graphql-rust/juniper" }
juniper_actix = { git = "https://github.com/graphql-rust/juniper" }

# Crypto
#coinnect_rt = { git = " ssh://git@github.com/Igosuki/coinnect_rt.git" }
coinnect_rt = { path = "../coinnect" }

# Profiling
flame = { version = "0.2", optional = true }
flamer = { version = "0.4", optional = true }
libc = "0.2"
gperftools = { version = "0.2", optional = true, features = ["heap"] }

# Monitoring
prometheus = { version = "0.8", features = ["nightly", "push", "process", "gen"] }
prometheus-static-metric = "0.1"

# DB
rkv = "0.10"
db = { path = "../db" }

# Strategies
strategies = { path = "../strategies"}

[features]
default = []
flame_it = ["flame", "flamer"]
gprof = ["gperftools"]
#desktop_vis = ["cairo-rs", "gtk"]
