[package]
name = "trader"
version = "0.1.0"
authors = ["Guillaume Balaine <igosuki@gmail.com>"]
edition = "2018"

[lib]
name = "trader"
path = "src/lib.rs"

[[bin]]
name = "trader"
path = "src/main.rs"

[dependencies]

# Self crates
models = { path = "../models" }
strategies = { path = "../strategies"}
util = { path = "../util" }

# Rust lang extensions
lazy_static = "1.4"
once_cell = "1.4"
notify = "4.0"

# CLI
clap = "3.0.0-beta.1"
structopt = "0.3"

# Codecs
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
derive_more = "0.99"
data-encoding = "2.2"
bytes = "1.0"
avro-rs = { git = "https://github.com/Igosuki/avro-rs.git" }

# Data structures
bidir-map = "1.0"

# Error
thiserror = "1.0"
anyhow = "1.0"

# Std Utils
chrono = { version = "0.4", features = ["serde"] }
url = "2.1"
uuid = { version = "0.8", features = ["v4"] }
byte-unit = "4.0"
config = { version = "0.11", features = ["yaml"] }
rand = "0.8"
itertools = "0.10"
fs_extra = "1.1"
parse_duration = "2.1"
tempdir = "0.3"

# SSL
sha2 = "0.9"
hmac = "0.10"
openssl = "0.10"
native-tls = "0.2"

# Logging
log = "0.4"
env_logger = "0.8"

# Futures
async-std = "1.5"
futures = { version ="0.3", features = ["thread-pool"] }
futures-util = "0.3"
tokio = { version = "1.5", features = ["full", "time"] }
tokio-stream = "0.1.5"

# Actix
awc = "3.0.0-beta.5"
actix-web = { version = "4.0.0-beta.6", features = ["openssl"] }
actix-rt = "2.2"
actix_derive = "0.6"
actix = "0.11"
actix-codec = "0.4"
actix-cors = { git = "https://github.com/Igosuki/actix-extras.git" }

# Juniper
juniper = { git = "https://github.com/graphql-rust/juniper", features = ["expose-test-schema"] }

# Crypto
#coinnect_rt = { git = " ssh://git@github.com/Igosuki/coinnect_rt.git" }
coinnect_rt = { path = "../coinnect" }

# Profiling
flame = { version = "0.2", optional = true }
flamer = { version = "0.4", optional = true }
libc = "0.2"
gperftools = { version = "0.2", optional = true, features = ["heap"] }

# Monitoring
prometheus = { version = "0.12", features = ["nightly", "push", "process", "gen"] }

# DB
rkv = { version = "0.17", features = ["db-int-key"] }
db = { path = "../db" }

# Nats
nats = "0.9"

[features]
default = []
flame_it = ["flame", "flamer"]
gprof = ["gperftools"]
#desktop_vis = ["cairo-rs", "gtk"]

[dev-dependencies]
pretty_assertions = "0.7"
