[package]
name = "trader"
version = "0.1.0"
authors = ["Guillaume Balaine <igosuki@gmail.com>"]
edition = "2021"

build = "build.rs"

[lib]
name = "trader"
path = "src/lib.rs"

[[bin]]
name = "trader"
path = "src/main.rs"

[features]
default = []
flame_it = ["flame", "flamer"]
gprof = ["gperftools"]
zstd = ["awc/compress-zstd", "actix-web/compress-zstd"]
checkers_alloc = ["checkers"]

[dependencies]
# Self crates
models = { path = "../models" }
util = { path = "../util" }
portfolio = { path = "../account" }
strategies = { path = "../strategies" }
#coinnect_rt = { git = " ssh://git@github.com/Igosuki/coinnect_rt.git" }
coinnect_rt = { path = "../coinnect" }
db = { path = "../db" }
metrics = { path = "../metrics" }
ext = { path = "../ext" }

# actix
actix = "0.12"
actix-codec = "0.4"
actix-cors = { version = "0.6.0-beta.2", default-features = false }
actix-web = { version = "4.0.0-beta.6", features = ["openssl", "compress-brotli", "compress-gzip", "cookies"], default-features = false }
actix_derive = "0.6"
awc = { version = "3.0.0-beta.7", features = ["openssl", "compress-brotli", "compress-gzip", "cookies"], default-features = false }

# Errors
anyhow = "1.0"

# Futures
async-std = "1.5"
avro-rs = { git = "https://github.com/Igosuki/avro-rs.git", branch = "master_merge" }

# Data structures
bidir-map = "1.0"
byte-unit = "4.0"
bytes = "1.0"

# Std Utils
chrono = { version = "0.4", features = ["serde"] }

# CLI
clap = "3.0.0-beta.1"

# Crypto
config = { version = "0.11", features = ["yaml", "toml", "json"], default-features = false }
data-encoding = "2.2"

derive_more = "0.99"
env_logger = "0.9"

# Profiling
flame = { version = "0.2", optional = true }
flamer = { version = "0.4", optional = true }
fs_extra = "1.1"
futures = { version = "0.3", features = ["thread-pool"] }
futures-util = "0.3"
gperftools = { version = "0.2", optional = true, features = ["heap"] }
checkers = { version = "0.6", optional = true, features = ["zeroed", "backtrace", "checkers-macros", "fxhash", "macros", "realloc"] }

hmac = "0.11"
itertools = "0.10"

# Juniper
juniper = { version = "0.15", features = ["expose-test-schema"] }

# Rust lang extensions
lazy_static = "1.4"
libc = "0.2"

# Logging
log = "0.4"
tracing = "0.1"

# Nats
nats = "0.10"
notify = "4.0"
once_cell = "1.4"
openssl = "0.10"
parse_duration = "2.1"

# Monitoring
prometheus = { version = "0.12", features = ["nightly", "push", "process", "gen"] }
rand = "0.8"
online = "3.0"

# DB
rkv = { version = "0.17", features = ["db-int-key"] }
serde = { version = "1.0", features = ["derive"] }

# Codecs
serde_json = { version = "1.0", features = ["float_roundtrip"] }

# SSL
sha2 = "0.9"
structopt = "0.3"
tempdir = "0.3"
native-tls = "0.2"

# Error
thiserror = "1.0"
tokio = { version = "1.5", features = ["full", "time"] }
tokio-stream = "0.1"
url = "2.2"

uuid = { version = "0.8", features = ["v4"] }
measure_time = "0.7"

[dev-dependencies]
pretty_assertions = "0.7"
