[package]
name = "db"
version = "0.1.0"
authors = ["Guillaume Balaine <igosuki@gmail.com>"]
edition = "2018"

[lib]
name = "db"
path = "src/lib.rs"

[[bin]]
name = "db_tool"
path = "src/main.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
itertools = "0.10"
# DB
rkv = "0.17"
lmdb-rkv = "0.14"
rocksdb = "0.16"

# Error
thiserror = "1.0"
anyhow = "1.0"
chrono = "0.4.19"
# codec
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }

# std
log = "0.4"

bincode = "1.3"

# Optional dependencies to be used later
# Flatdata is write once read many and fast memory mapping a structured file
#flatdata = "0.5"
measure_time = "0.6"

[dev-dependencies]
util = { path = "../util" }
tempdir = "0.3"
rand = "0.8"
pretty_assertions = "0.7"
env_logger = "0.8"
