[package]
name = "db"
version = "0.1.0"
authors = ["Guillaume Balaine <igosuki@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
itertools = "0.9"
# DB
rkv = "0.10.4"

# Error
thiserror = "1.0.14"
anyhow = "1.0.28"

# codec
serde_json = "1.0"
serde = "1.0"
serde_derive = "1.0"
