[package]
name = "db"
version = "0.1.0"
authors = ["Guillaume Balaine <igosuki@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
itertools = "0.9"
# DB
rkv = "0.10"
lmdb-rkv = "0.14"

# Error
thiserror = "1.0"
anyhow = "1.0"

# codec
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }

# std
log = "0.4"

[dev-dependencies]
tempdir = "0.3"
