[package]
name = "db"
version = "0.1.0"
authors = ["Guillaume Balaine <igosuki@gmail.com>"]
edition = "2018"

[lib]
name = "db"
path = "src/lib.rs"

[[bin]]
name = "db_tool"
path = "src/main.rs"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"

bincode = "1.3"
chrono = "0.4.19"
itertools = "0.10"
lmdb-rkv = "0.14"

# std
log = "0.4"

# Optional dependencies to be used later
# Flatdata is write once read many and fast memory mapping a structured file
#flatdata = "0.5"
measure_time = "0.7"
# DB
rkv = "0.17"
rocksdb = { version = "0.17", features = ["multi-threaded-cf"] }
serde = { version = "1.0", features = ["derive"] }
# codec
serde_json = { version = "1.0", features = ["float_roundtrip"] }

# Error
thiserror = "1.0"

[dev-dependencies]
env_logger = "0.9"
pretty_assertions = "0.7"
rand = "0.8"
tempdir = "0.3"
util = { path = "../util" }
